*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-size: 4rem;
}

button {
    height: fit-content;
    cursor: pointer;
    color: #04202c;
    background-color: #c9d1c8;
}
.update-controller {
    display: none;
}
.container{
    min-height: 100vh;
    /* display: flex; */
    margin: auto;
    /* padding-top: 50px; */
    /* gap: 20px; */
    width: 40vw;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
}
body {
    background: rgba(48, 64, 64, 1.0); 
    background: -webkit-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    background: -moz-radial-gradient(center, rgba(48, 64, 64, 1.0) 0%, rgba(0, 0, 0, 1.0) 100%);
    background: radial-gradient(ellipse at center, #304040 0%, rgba(0, 0, 0, 1.0) 100%);
    font-family: 'Shadows Into Light', cursive;
    min-height: 100vh;
}

.input-header {
    display: block;
    /* justify-content: center;
    align-items: center; */
    color: white;
    gap: 40px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    padding: 0px 0px 10px 0px;
    margin-bottom: 20px;

}
.top {
    padding-left: 5vw;
}
#item {
    border-radius: 10px;
    /* margin-left: 50px; */
    /* margin-top: 10px; */
    padding-top: 5px;
    padding-left: 10px;
    margin: 10px;
    width: 100%;
    height: 40px;
    width: 250px;
    font-family: 'Shadows Into Light', cursive;
}
#enter {
    /* margin-left: 20px; */
    /* margin-top: 10px; */
    height: 40px;
    border-radius: 10px;
    width: 90px;
    box-shadow: 0 0 2px #3e5252;
    font-size: large;
    font-family: 'Shadows Into Light', cursive;
}

.input-controller{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 350px; */
    width: 45vw;
}
.item{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 40vw;
    box-shadow: 0 0 4px #666;
    border-radius: 10px;
    /* margin-left: 5vw; */
    padding-left: 10px;

}
.edit-controller{
    display: flex;
    align-items: center;
    height: 40px;
    gap: 10px;
    margin: 10px;
}
.saveBtn, .cancelBtn{
    height: 25px;
    width: 60px;
    border-radius: 6px;
    background-color: white;
    font-size: 1rem;
    gap: 4px;
    margin-top: 4px;
}

textarea{
    width: 35vw;
    border-radius: 10px;
    padding-left: 10px;
    height: text;
    color: rgb(225, 217, 217);
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.4rem;
}
textarea:focus {
    box-shadow: 0 0 5px white;
  }
.list{
    display:  flex;
    gap: 15px;
    flex-direction: column;
}

.edit-controller textarea{
    border-radius: 10%;
    background-color: white;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.deleteBtn , .editBtn {
    color: white;
    cursor: pointer;
    gap: 10px;
    /* height: 30px; */
    /* width: 25px; */
    font-size: 1.5rem
}
.space{
    height: 100px;
}
